<div class="welsh_index">
  Индекс Уэлша:
    <% welsh_index= @result.scales[Scale_f].co-@result.scales[Scale_k].co %>
    <%=  welsh_index %>,
    <% case welsh_index %>
      <% when -6..6 %>
        <%= 'тревожность в пределах нормы.' %>
      <% when 7..11 %>
        <%= 'нерезко выраженная установка к подчеркиванию проблем, к драматизации своих трудностей, к аггравации состояния.' %>
      <% when -7..-11 %>
        <%= 'негативное отношение к тестированию, закрытость, неоткровенность.' %>
      <% else %>
        <%= 'надежность полученных данных под сомнением.'%>
    <% end %>
</div>
<hr>
